In [184]:
import pandas as pd
import pymongo
import json

In [185]:
stock_name = 'yahoo'

In [186]:
data = pd.read_csv('{}.csv'.format(stock_name))

In [187]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True, format="%d/%m/%Y")

In [188]:
data = data.set_index('Date')

In [189]:
client = pymongo.MongoClient()
db = client.stock

In [190]:
collection = db.yahoo

In [200]:
collection.drop()
for date in data.index.values:
    post = {"Date":"{}".format(date),
           "Close":"{}".format((data.ix[date])['Close']),
           "Adj Close":"{}".format((data.ix[date]['Adj Close'])),
           "High":"{}".format((data.ix[date]['High'])),
           "Low":"{}".format((data.ix[date]['Low'])),
           "Open":"{}".format((data.ix[date]['Open'])),
           "Volume":"{}".format((data.ix[date]['Volume']))}
    collection.insert_one(post).inserted_id

In [207]:
test = pd.DataFrame(list(collection.find())).set_index('Date')

In [208]:
test

,Adj Close,Close,High,Low,Open,Volume,_id
Date,,,,,,,
2015-10-19T01:00:00.000000000+0100,33.5,33.5,33.630001,33.18,33.259998,10836800.0,56276d1426a81306fce5ba37
2015-10-16T01:00:00.000000000+0100,33.369999,33.369999,33.860001,33.16,33.639999,12209300.0,56276d1426a81306fce5ba38
2015-10-15T01:00:00.000000000+0100,33.48,33.48,33.490002,32.400002,32.419998,19370900.0,56276d1426a81306fce5ba39
2015-10-14T01:00:00.000000000+0100,32.09,32.09,32.490002,31.77,32.279999,11277400.0,56276d1426a81306fce5ba3a
2015-10-13T01:00:00.000000000+0100,32.34,32.34,32.830002,32.32,32.560001,12610500.0,56276d1426a81306fce5ba3b
2015-10-12T01:00:00.000000000+0100,32.860001,32.860001,33.02,32.549999,32.709999,12565800.0,56276d1426a81306fce5ba3c
2015-10-09T01:00:00.000000000+0100,32.52,32.52,32.689999,31.99,32.349998,11822100.0,56276d1426a81306fce5ba3d
2015-10-08T01:00:00.000000000+0100,32.369999,32.369999,32.5,31.73,31.790001,14239400.0,56276d1426a81306fce5ba3e
2015-10-07T01:00:00.000000000+0100,31.870001,31.870001,31.99,31.209999,31.309999,11991000.0,56276d1426a81306fce5ba3f
2015-10-06T01:00:00.000000000+0100,30.959999,30.959999,31.190001,30.66,30.790001,10572800.0,56276d1426a81306fce5ba40
2015-10-05T01:00:00.000000000+0100,30.85,30.85,31.200001,30.35,30.799999,12655000.0,56276d1426a81306fce5ba41
2015-10-02T01:00:00.000000000+0100,30.709999,30.709999,30.709999,28.43,28.620001,29098500.0,56276d1426a81306fce5ba42
2015-10-01T01:00:00.000000000+0100,28.91,28.91,29.0,28.440001,28.950001,14459100.0,56276d1426a81306fce5ba43
2015-09-30T01:00:00.000000000+0100,28.91,28.91,29.110001,28.49,28.65,17861800.0,56276d1426a81306fce5ba44
2015-09-29T01:00:00.000000000+0100,28.26,28.26,29.23,27.85,28.58,41761600.0,56276d1426a81306fce5ba45
2015-09-28T01:00:00.000000000+0100,27.6,27.6,29.219999,27.200001,29.030001,49088700.0,56276d1426a81306fce5ba46
2015-09-25T01:00:00.000000000+0100,29.129999,29.129999,29.709999,28.91,29.66,11525300.0,56276d1426a81306fce5ba47
2015-09-24T01:00:00.000000000+0100,29.34,29.34,29.57,28.85,29.469999,18723200.0,56276d1426a81306fce5ba48
2015-09-23T01:00:00.000000000+0100,29.74,29.74,30.57,29.629999,30.559999,12674700.0,56276d1426a81306fce5ba49
2015-09-22T01:00:00.000000000+0100,30.4,30.4,30.92,30.17,30.780001,15257000.0,56276d1426a81306fce5ba4a
2015-09-21T01:00:00.000000000+0100,31.17,31.17,31.74,30.879999,31.200001,18413400.0,56276d1426a81306fce5ba4b
2015-09-18T01:00:00.000000000+0100,30.74,30.74,30.799999,30.41,30.51,20144700.0,56276d1426a81306fce5ba4c
2015-09-17T01:00:00.000000000+0100,30.93,30.93,31.33,30.809999,31.309999,16546900.0,56276d1426a81306fce5ba4d
2015-09-16T01:00:00.000000000+0100,31.4,31.4,31.77,30.99,31.139999,22171700.0,56276d1426a81306fce5ba4e
2015-09-15T01:00:00.000000000+0100,31.040001,31.040001,31.23,29.41,29.719999,25637600.0,56276d1426a81306fce5ba4f
2015-09-14T01:00:00.000000000+0100,30.32,30.32,30.92,30.0,30.68,21951500.0,56276d1426a81306fce5ba50
2015-09-11T01:00:00.000000000+0100,31.43,31.43,31.43,30.629999,31.09,14312100.0,56276d1426a81306fce5ba51
2015-09-10T01:00:00.000000000+0100,31.15,31.15,31.59,31.030001,31.35,14287600.0,56276d1426a81306fce5ba52
2015-09-09T01:00:00.000000000+0100,31.52,31.52,31.799999,30.35,30.4,46957000.0,56276d1426a81306fce5ba53
2015-09-08T01:00:00.000000000+0100,30.9,30.9,32.830002,30.860001,32.200001,25238500.0,56276d1426a81306fce5ba54
...,...,...,...,...,...,...,...
1996-05-23T01:00:00.000000000+0100,1.22917,29.500079,29.500079,27.499921,27.499921,2918400.0,56276d3326a81306fce5cd4b
1996-05-22T01:00:00.000000000+0100,1.14583,27.499921,28.000079,27.0,28.000079,2563200.0,56276d3326a81306fce5cd4c
1996-05-21T01:00:00.000000000+0100,1.16667,28.000079,29.124959,27.75,28.999921,4048000.0,56276d3326a81306fce5cd4d
1996-05-20T01:00:00.000000000+0100,1.20833,28.999921,30.37488,28.999921,30.0,4257600.0,56276d3326a81306fce5cd4e
1996-05-17T01:00:00.000000000+0100,1.25,30.0,30.499921,29.749921,30.250079,2448000.0,56276d3326a81306fce5cd4f
1996-05-16T01:00:00.000000000+0100,1.26042,30.250079,30.499921,29.749921,29.749921,3390400.0,56276d3326a81306fce5cd50
1996-05-15T01:00:00.000000000+0100,1.26042,30.250079,30.75,29.749921,30.0,2200000.0,56276d3326a81306fce5cd51
1996-05-14T01:00:00.000000000+0100,1.22917,29.500079,31.000079,29.500079,30.75,4003200.0,56276d3326a81306fce5cd52
1996-05-13T01:00:00.000000000+0100,1.26042,30.250079,31.5,30.0,31.374959,2747200.0,56276d3326a81306fce5cd53
1996-05-10T01:00:00.000000000+0100,1.30208,31.249921,31.750079,30.499921,30.75,5875200.0,56276d3326a81306fce5cd54
1996-05-09T01:00:00.000000000+0100,1.28125,30.75,30.75,29.749921,30.0,4032000.0,56276d3326a81306fce5cd55
1996-05-08T01:00:00.000000000+0100,1.26042,30.250079,30.75,29.124959,30.499921,6288000.0,56276d3326a81306fce5cd56
1996-05-07T01:00:00.000000000+0100,1.26562,30.37488,30.75,29.749921,30.0,5569600.0,56276d3326a81306fce5cd57
1996-05-06T01:00:00.000000000+0100,1.25521,30.125041,32.500079,29.375041,32.500079,8214400.0,56276d3326a81306fce5cd58
1996-05-03T01:00:00.000000000+0100,1.33333,31.999921,32.500079,31.249921,32.25,6116800.0,56276d3326a81306fce5cd59
1996-05-02T01:00:00.000000000+0100,1.36979,32.874959,33.250079,31.5,31.5,9731200.0,56276d3326a81306fce5cd5a
1996-05-01T01:00:00.000000000+0100,1.31771,31.625041,31.750079,30.0,30.250079,4881600.0,56276d3326a81306fce5cd5b
1996-04-30T01:00:00.000000000+0100,1.23958,29.749921,31.5,29.500079,31.249921,5003200.0,56276d3326a81306fce5cd5c
1996-04-29T01:00:00.000000000+0100,1.29167,31.000079,31.999921,30.499921,31.5,5928000.0,56276d3326a81306fce5cd5d
1996-04-26T01:00:00.000000000+0100,1.32292,31.750079,32.25,31.249921,31.999921,7561600.0,56276d3326a81306fce5cd5e
1996-04-25T01:00:00.000000000+0100,1.30208,31.249921,32.25,28.999921,30.0,19478400.0,56276d3326a81306fce5cd5f
1996-04-24T01:00:00.000000000+0100,1.20833,28.999921,29.124959,27.75,28.5,7795200.0,56276d3326a81306fce5cd60
1996-04-23T01:00:00.000000000+0100,1.16667,28.000079,28.999921,28.000079,28.750079,4297600.0,56276d3326a81306fce5cd61
1996-04-22T01:00:00.000000000+0100,1.17708,28.249921,28.999921,27.499921,28.999921,8041600.0,56276d3326a81306fce5cd62
1996-04-19T01:00:00.000000000+0100,1.20312,28.87488,30.75,28.750079,30.125041,12913600.0,56276d3326a81306fce5cd63
1996-04-18T01:00:00.000000000+0100,1.21875,29.25,30.125041,28.000079,30.125041,27268800.0,56276d3326a81306fce5cd64
1996-04-17T01:00:00.000000000+0100,1.125,27.0,28.249921,24.75,28.249921,42816000.0,56276d3326a81306fce5cd65
1996-04-16T01:00:00.000000000+0100,1.19792,28.750079,32.25,28.000079,32.25,48016000.0,56276d3326a81306fce5cd66
1996-04-15T01:00:00.000000000+0100,1.34375,32.25,36.0,30.0,35.749921,79219200.0,56276d3326a81306fce5cd67
1996-04-12T01:00:00.000000000+0100,1.375,33.0,43.000079,24.499921,25.249921,408720000.0,56276d3326a81306fce5cd68